@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.link-underline-hover {
  @apply absolute -bottom-2 left-0 h-0.5 bg-black w-0 group-hover:w-full transition-all duration-300 ease-out;
}
