/* Ghi đè màu mặc định của Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #000 !important; /* Màu đen */
  width: 32px;
  height: 32px;
  transition: transform 0.2s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}
